In [16]:
# Create and embedding for searching through past for similar condition finding
import os,sys,inspect
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pprint
from sklearn.preprocessing import MinMaxScaler
from kats.consts import TimeSeriesData
from kats.tsfeatures.tsfeatures import TsFeatures
import itertools
from decimal import Decimal
from IPython.display import clear_output
import faiss  
import yfinance as yf

import warnings
warnings.simplefilter(action='ignore')

In [2]:
path= '../datasets/dow50.csv'
dow = pd.read_csv(path)

In [4]:
google = yf.Ticker('GOOGL')

In [3]:
google.head()

                Open      High       Low     Close  Adj Close     Volume
Date
2004-08-19  2.502503  2.604104  2.401401  2.511011   2.511011  893181924
2004-08-20  2.527778  2.729730  2.515015  2.710460   2.710460  456686856
2004-08-23  2.771522  2.839840  2.728979  2.737738   2.737738  365122512
2004-08-24  2.783784  2.792793  2.591842  2.624374   2.624374  304946748
2004-08-25  2.626627  2.702703  2.599600  2.652653   2.652653  183772044

In [9]:
dxy = yf.Ticker('dxy')

In [15]:
dxy.history(period='1m')

- DXY: No data found for this date range, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [7]:
google.info

{'zip': '94043',
 'sector': 'Communication Services',
 'fullTimeEmployees': 174014,
 'longBusinessSummary': 'Alphabet Inc. provides various products and platforms in the United States, Europe, the Middle East, Africa, the Asia-Pacific, Canada, and Latin America. It operates through Google Services, Google Cloud, and Other Bets segments. The Google Services segment offers products and services, including ads, Android, Chrome, hardware, Gmail, Google Drive, Google Maps, Google Photos, Google Play, Search, and YouTube. It is also involved in the sale of apps and in-app purchases and digital content in the Google Play store; and Fitbit wearable devices, Google Nest home products, Pixel phones, and other devices, as well as in the provision of YouTube non-advertising services. The Google Cloud segment offers infrastructure, platform, and other services; Google Workspace that include cloud-based collaboration tools for enterprises, such as Gmail, Docs, Drive, Calendar, and Meet; and other services for enterprise customers. The Other Bets segment sells health technology and internet services. The company was founded in 1998 and is headquartered in Mountain View, California.',
 'city': 'Mountain View',
 'phone': '650 253 0000',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.abc.xyz',
 'maxAge': 1,
 'address1': '1600 Amphitheatre Parkway',
 'industry': 'Internet Content & Information',
 'ebitdaMargins': 0.34834,
 'profitMargins': 0.25892,
 'grossMargins': 0.56744,
 'operatingCashflow': 95001001984,
 'revenueGrowth': 0.126,
 'operatingMargins': 0.29648,
 'ebitda': 96886996992,
 'targetLowPrice': 100,
 'recommendationKey': 'buy',
 'grossProfits': 146698000000,
 'freeCashflow': 51070373888,
 'targetMedianPrice': 140,
 'currentPrice': 98.68,
 'earningsGrowth': -0.113,
 'currentRatio': 2.809,
 'returnOnAssets': 0.14927,
 'numberOfAnalystOpinions': 43,
 'targetMeanPrice': 142.17,
 'debtToEquity': 11.28,
 'returnOnEquity': 0.29216,
 'targetHighPrice': 187.5,
 'totalCash': 124997001216,
 'totalDebt': 28810000384,
 'totalRevenue': 278139011072,
 'totalCashPerShare': 9.583,
 'financialCurrency': 'USD',
 'revenuePerShare': 21.03,
 'quickRatio': 2.642,
 'recommendationMean': 1.8,
 'exchange': 'NMS',
 'shortName': 'Alphabet Inc.',
 'longName': 'Alphabet Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'GOOGL',
 'messageBoardId': 'finmb_29096',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 4.411,
 'beta3Year': None,
 'enterpriseToEbitda': 12.663,
 '52WeekChange': -0.28963244,
 'morningStarRiskRating': None,
 'forwardEps': 5.93,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 5996000256,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 19.53,
 'sharesShort': 62786677,
 'sharesPercentSharesOut': 0.0047999998,
 'fundFamily': None,
 'lastFiscalYearEnd': 1640908800,
 'heldPercentInstitutions': 0.78328,
 'netIncomeToCommon': 72016003072,
 'trailingEps': 5.36,
 'lastDividendValue': None,
 'SandP52WeekChange': -0.16544336,
 'priceToBook': 5.052739,
 'heldPercentInsiders': 0.07734,
 'nextFiscalYearEnd': 1703980800,
 'yield': None,
 'mostRecentQuarter': 1656547200,
 'shortRatio': 2.59,
 'sharesShortPreviousMonthDate': 1660521600,
 'floatShares': 11360671800,
 'beta': 1.099484,
 'enterpriseValue': 1226865901568,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1658102400,
 'lastSplitFactor': '20:1',
 'legalType': None,
 'lastDividendDate': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': -0.136,
 'priceToSalesTrailing12Months': 4.6448665,
 'dateShortInterest': 1663200000,
 'pegRatio': -1.31,
 'ytdReturn': None,
 'forwardPE': 16.64081,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0105,
 'sharesShortPriorMonth': 54019534,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 101.42,
 'regularMarketOpen': 99.85,
 'twoHundredDayAverage': 121.72568,
 'trailingAnnualDividendYield': 0,
 'payoutRatio': 0,
 'volume24Hr': None,
 'regularMarketDayHigh': 100.53,
 'navPrice': None,
 'averageDailyVolume10Day': 28238460,
 'regularMarketPreviousClose': 101.42,
 'fiftyDayAverage': 109.2402,
 'trailingAnnualDividendRate': 0,
 'open': 99.85,
 'toCurrency': None,
 'averageVolume10days': 28238460,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 98.295,
 'currency': 'USD',
 'trailingPE': 18.410448,
 'regularMarketVolume': 27465199,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1291918508032,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 28999426,
 'dayLow': 98.295,
 'ask': 98.72,
 'askSize': 800,
 'volume': 27465199,
 'fiftyTwoWeekHigh': 151.5465,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 95.56,
 'bid': 98.56,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 1300,
 'dayHigh': 100.53,
 'coinMarketCapLink': None,
 'regularMarketPrice': 98.68,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/abc.xyz',
 'trailingPegRatio': 1.2532}

In [18]:
path= '../data/snpstocks.csv'
snp = pd.read_csv(path)

In [22]:
url = "https://raw.githubusercontent.com/datasets/nasdaq-listings/master/data/nasdaq-listed.csv"
nas = pd.read_csv(url)

In [24]:
nas.head()

,Symbol,Company Name,Security Name,Market Category,Test Issue,Financial Status,Round Lot Size,ETF,NextShares
0,AABA,Altaba Inc.,Altaba Inc. - Common Stock,Q,N,N,100.0,N,N
1,AAL,"American Airlines Group, Inc.","American Airlines Group, Inc. - Common Stock",Q,N,N,100.0,N,N
2,AAME,Atlantic American Corporation,Atlantic American Corporation - Common Stock,G,N,N,100.0,N,N
3,AAOI,"Applied Optoelectronics, Inc.","Applied Optoelectronics, Inc. - Common Stock",G,N,N,100.0,N,N
4,AAON,"AAON, Inc.","AAON, Inc. - Common Stock",Q,N,N,100.0,N,N

In [25]:
snp.head()

,Symbol,Description,Category2,Category3,GICS Sector,Market cap,Dividend yield,Price to TTM earnings,Price to TTM sales,Price to book value,Action
0,AAPL,Apple Inc,Common stocks,Large cap,Information Technology,"$2,352,758,092,800",0.61%,22.93,6.10,34.68,Analyze
1,MSFT,Microsoft Corp,Common stocks,Large cap,Information Technology,"$1,858,506,654,502",0.99%,25.40,9.65,11.30,Analyze
2,GOOG,Alphabet Inc Class C,Common stocks,Large cap,Communication Services,"$1,238,156,140,000",0.00%,8.45,4.58,2.48,Analyze
3,GOOGL,Alphabet Inc Class A,Common stocks,Large cap,Communication Services,"$1,238,156,140,000",0.00%,8.16,4.58,2.39,Analyze
4,AMZN,Amazon.Com Inc.,Common stocks,Large cap,Consumer Discretionary,"$1,232,184,755,237",0.00%,57.23,2.58,9.15,Analyze

In [26]:
snpnas = pd.concat([nas, snp])

In [27]:
snpnas.describe()

,Round Lot Size,Price to TTM earnings,Price to TTM sales,Price to book value
count,3370.0,503.000000,503.000000,503.000000
mean,100.0,24.203141,3.823757,6.749642
std,0.0,30.597617,3.586767,44.472945
min,100.0,-116.200000,0.000000,-173.950000
25%,100.0,10.310000,1.360000,1.530000
50%,100.0,19.180000,2.770000,2.930000
75%,100.0,29.635000,4.790000,6.055000
max,100.0,378.430000,23.290000,787.940000

In [30]:
snas = snpnas.drop_duplicates(subset='Symbol')

In [35]:
snas.to_csv('../datasets/snpnasstocks.csv',index=0)